body{
  margin:0;
  font-family:Arial;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:#1f6f2c;
  color:white;
  position:sticky;
  top:0;
}

.nav a{
  color:white;
  margin-left:20px;
  text-decoration:none;
  font-weight:500;
}

.download-btn{
  background:#ffd54f;
  padding:8px 18px;
  border-radius:20px;
  color:black;
  font-weight:bold;
}

.social-icons img{
  width:28px;
  margin-left:12px;
  border-radius:6px;
  transition:0.3s;
}

.social-icons img:hover{
  transform:scale(1.15);
}

.screens{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
  margin-top:30px;
}

.screens img{
  width:220px;
  border-radius:20px;
  box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

.section{
padding:70px 20px;
}

h2{
margin-bottom:30px;
}

/* PRICING */
.pricing{
display:flex;
gap:25px;
justify-content:center;
flex-wrap:wrap;
margin-top:40px;
}

.price-card{
background:white;
padding:30px 25px;
border-radius:18px;
width:260px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
text-align:center;
position:relative;
transition:0.3s;
}

.price-card:hover{
transform:translateY(-5px);
box-shadow:0 15px 40px rgba(0,0,0,0.12);
}

.price-card h3{
margin-bottom:10px;
}

.price{
font-size:26px;
font-weight:700;
margin:10px 0;
}

.price span{
font-size:14px;
color:#777;
}

.tag{
font-size:13px;
color:#666;
margin-bottom:15px;
}

.price-card ul{
list-style:none;
padding:0;
font-size:14px;
line-height:28px;
text-align:left;
margin:15px 0;
}

.btn-outline{
display:inline-block;
padding:10px 20px;
border-radius:25px;
border:2px solid #1B5E20;
color:#1B5E20;
text-decoration:none;
font-weight:500;
}

.highlight{
border:2px solid #FFD54F;
transform:scale(1.05);
}

.badge{
position:absolute;
top:-12px;
left:50%;
transform:translateX(-50%);
background:#FFD54F;
color:black;
padding:4px 12px;
border-radius:20px;
font-size:12px;
font-weight:600;
}

.save{
color:#2E7D32;
font-size:13px;
margin-top:-5px;
}

/* MOBILE */
@media(max-width:600px){
.price-card{
width:90%;
}
}

video{
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}
